node_modules
# Firebase service account key
serviceAccountKey.json

# Firebase environment files
.env
# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db

# Firebase Emulator
firebase-debug.log
firestore_debug.log


